#backimage,#whitebackimage,#smallbackimage {
    background-image: url(images/background-blodo.png);
    background-repeat: no-repeat;
  background-position:top right;
}
.backpadding{
    padding: 1rem 2.5rem 2.375rem 4.375rem;
}
#smallbackimage{
    background-image: url(images/smallbackimage.png);
}
#whitebackimage{
    background-image: url(images/whitebackimage.png);
}
.blodoheading {
    font-family: Manrope;
    font-size: 2.688rem;
    font-weight: 700;
}
.rotate{
    transform: rotate(3.142rad);
}
.tend{
    text-align: end;
}
.width30{
    width: 29.866rem;
    height: 14.494rem;
}

.colorwhite{
    color: white;
}
.blodoiconm{
    margin-top: -0.813rem;
}
.mtop{
    margin-top: -8.25rem;
}
.graph2 {
    padding: 0.625rem 0.625rem 1.438rem 1.875rem;
}
.talkingmandiv {
    border-radius: 0.75rem;
    box-shadow: 0rem 0.25rem 2rem 0rem rgba(0, 0, 0, 0.12);
}
.btn2-hover:hover {
    background-color: rgb(32, 224, 160);
    color: rgba(10, 38, 64, 1);
}
.headingbuttons,.borderdarkblue,.bpaddng{
    padding: 0.313rem 1.063rem 0.313rem 1.063rem;
}
.radius{
    border-radius: 1.563rem;
}
.btnradius{
    border-radius: 1.8rem;
}
.darkblue{
    background-color: rgba(10, 38, 64, 1);
}
.font-darkblue{
    color: rgba(10, 38, 64, 1);
}
.margin3{
    margin-top: 3%;
}
.headingbuttons:hover{
    background-color: white;
    color: rgba(10, 38, 64, 1);
}
.borderdarkblue:hover,.loadmore{
border: 0.125rem solid rgba(10, 38, 64, 1);
}
.borderwhite{
    border:0.063rem solid white;
}
.lightgray{
    color: lightgray;
}
.font20 {
    font-weight: 400;
    font-size: 1.25rem;
}
.fw700{
    font-size: 1.25rem;
    font-weight:700 ;
}
.center{
    text-align: center;
}
.emailinput {
    border-radius: 1.25rem;
    border: 0.125rem solid #FFF;
   padding: 0.425rem;
}
.margin5{
    margin-top: 5%;
}
.font64{
    font-weight: 400;
    font-size: 4rem;
    font-family: Manrope;
}
.font14 {
    font-size: 0.875rem;
    font-weight: 400;
}
.font16 {
    font-size: 1rem;    
    font-weight: 450;
}
.font-opensans {
    font-family: Open Sans;
}
.margin2{
    margin-top: 2%;
}
.margin8{
    margin-top: 8%;
}
.marginl{
    margin-left: 4%;
}
.gmwidth{
    width: 15.625rem;
height: 15.625rem;
}
.gmwidth2{
    width: 7.5rem;
height: 7.5rem;
}
.width{
    width: 18.75rem;
}
.gray {
    color: #777777;
}
.font28{
    font-size: 1.75rem;
    font-weight: 400;
    font-family: Manrope;
}
.startbutton {
    border-radius: 3.5rem;
    border: 0.125rem solid #65E4A3;
}
.backgreen{
    background-color: #65E4A3;
}
.btnpadding{
    padding:0.438rem 2.313rem;
}
.height14{
    height: 14.375rem;
    width:12.5rem;
}

.height36{
    height: 36.875rem;
    width: 20rem;
}
.width3{
    width: 3.625rem;
    height: 3.625rem;
}
.height13{
    height: 11.563rem;
}

.width9{
    width: 9.375rem;
    height: 12.5rem;
}
.width18{
    height: 24.25rem;
    width: 18.18rem;
}
.arroww{
    height: 0.938rem;
    width: 1.25rem;
}
.width6{
    width:6.25rem;
    height: 12.5rem;
}
.font48,.fw400{
    font-size: 3rem;
    font-weight: 400;
    font-family: Manrope;
}
.mright{
    margin-right: 2%;
}
.gborder {
    border: 0.125rem solid gray;
    border-width: 0rem 0rem 0.125rem 0rem;
}
.font36 {
    font-family: Manrope;
    font-size: 2.25rem;
    font-weight: 400;
}
.padding70{
    padding: 4.375rem;
}
.pr,.pr1{
    position: relative;
}
.pa,.pa1{
    position: absolute;
}
.padding40 {
    padding: 2.5rem;
}
.padding50{
    padding: 3.125rem;
}
.divpadding{
    padding: 0.625rem;
}
.margin15{
    margin-top: 15%;
}
.margin42{
    margin-top: 42%;
}
.abpadding{
    padding: 1rem 2.5rem 9.375rem 4.375rem;
}
.imgpadding,.conpadding{
    padding: 1rem 2.5rem 3.375rem 4.375rem;
}
.font24{
    font-size: 1.5rem;
    font-weight: 400;
}
.font96{
    font-family: Manrope;
    font-size: 6rem;
    font-weight: 400;
}
.divcon {
    border-radius: 0.75rem;
    background: #FFF;
    padding: 1.375rem 1.45rem;
    box-shadow: 0rem 0.75rem 2rem 0rem rgba(0, 0, 0, 0.12);
}
.loadmore:hover {
    background-color: rgba(10, 38, 64, 1);
    color: white;
}
.fontgreen{
    color: #4FE9A4;
}
.backwhite{
    background-color: white;
}
.hrwidth{
    width: 68.688rem;
}
.hplinkborder{
    border-bottom: 0.063rem solid white;
    padding: 1.013rem 0rem;
}
.borderblue{
    border-bottom: 0.063rem solid  rgba(10, 38, 64, 1);
    padding: 1.013rem 0rem;
}
.td-none{
    text-decoration: none;
}
.mleft{
    margin-left: 3%;
}
.height9{
    height: 9.438rem;
    width: 9.375rem;
}
.margin12{
    margin-top: 12%;
}
.navbar-p {
       padding: 0rem 0.12rem 0rem 0.12rem;
}
.card{
    border-width: 0rem;
}
.cbody{
    padding: var(--bs-card-spacer-y) 0rem;
}
.pointer{
    cursor: pointer;
}
.nature{
    height: 19rem;
    width: 26rem;
    max-width: 100%;
}
.width21{
    width: 23.875rem;
    height: 25rem;
 }
 .width25{
    height: 25.2rem;
    width: 23rem;
 }
.b-none{
    background-color: none;
}
@media screen  and  (min-width:48rem){
  
      .height17{
        height: 17.813rem;
        width: 18.75rem;
    }
    
}
@media (min-width:62rem){
    .overflow{
        overflow-x: hidden;
        width: 100%;
    }
    .margin9{
        margin-top: 9%;
    }
    .mleft10{
        margin-left: 60%;
    }
    .width10{
        width: 12.011rem;
        height: 10.333rem;
    }  
}
@media (min-width:75rem){
    .emailinput{
        width: 25rem;
    }
}
@media (min-width:12.5rem) and (max-width:47.97rem){
    .tcenter{
        text-align: center;
    }
}
@media (min-width:12.5rem) and (max-width:48rem){
    .font24{
        font-size: 1.155rem;
    }
    .fw400{
        font-size: 1.663rem;
    }
    .font64{
        font-size: 1.7rem;
    }
    .mtop5{
        margin-top: 5%;
    }
    .width21{
        width: 21rem;
        height: 19rem;
    }
    .width25{
        height: 19rem;
    }
}
@media (min-width:12.5rem) and (max-width:36rem) {
    .graph2{
        padding: 0.5rem;
    }
    .emailinput{
        padding:0.425rem 0rem 0.425rem 0rem;
    }
}
@media (min-width:48rem) and (max-width:75rem) {
    .font24{
        font-size: 1.235rem;
    }
    .fw400{
        font-size: 1.863rem;
    }
    .font64{
        font-size: 2.263rem;
    }
    .margin15{
        margin-top: 8%;
    }
}
@media (min-width :12.5rem) and (max-width:75rem){
    .limagew{
        width: 12.5rem;
    }
    .font48{
        font-size: 1.563rem;
    }
    .font28{
        font-size: 1.250rem;
    }
   .font96,.blodoheading{
        font-size:1.7rem;
    }
    .font36{
        font-size: 1.488rem;
    }
    .margin12{
        margin-top: 8%;
    }
    .amargin{
        margin-top: 5%;
    }
    .font20,.font28{
        font-weight: 335;
    }
    .fw700,.font20{
        font-size: 1.050rem;
    }
    .removemr{
        margin-top: 1%;
    }
    .blodoiconm{
        height:25px;
    }
}
@media (min-width: 12.5rem) and (max-width: 62rem){
    #navbarSupportedContent{
        width: 100%;
        padding: 1.9rem 0rem 1.9rem 0rem;
        height: max-content;
    }
    .addpadding{
        padding: 1.4rem 0rem;
    }
    .graph1,.width30{
        width: 20.494rem;
    }
    body,html{
        overflow-x: scroll;
        width: 100%;
    }
    .darkblueback{
        background-color: rgb(39, 76, 111);
    }
    .whiteback{
        background-color: rgb(250, 247, 247);
    }
    .white{
        color: white;
    }
    .addmargin,.margin42,.margin15{
        margin-top: 5%;
    }
    .width,.gmwidth,.height13{
        width: 12.5rem;
    }
    .rmargin{
        margin-top: 1%;
    }
    .marginl{
        margin-left: 0%;
    }
    .padding40,.padding50,.backgreenpadding,.padding70,.conpadding , #backimage,#whitebackimage,.divcon,.imgpadding{
        padding: 0.938rem;
    }
    .abpadding{
        padding: 0.938rem 0.938rem  9.375rem 0.938rem;
      }
    .spadding{
        padding: 0.3rem;
    }
    .divcon{
        border-radius: 0rem;
    }
    .marginladd{
        margin-left: 5%;
    }
    .hrwidth,hr{
        width: 100%;
    }
    .pr,.pa{
        position:static;
    }
    .pa2{
        position: absolute;
    }
    .width6{
        height: 5.9rem;
    } 
    .fcenter{
        text-align: center;
    }
    .height36{
        height: 17.813rem;
      }
}
